/* global variables */
:root {
  --primary-font-family: 'Roboto', sans-serif;
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
  --GREY: rgba(46, 47, 66, 0.7);
  --WHITE: #ffffff;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
}

/* BODY */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--SLATE,#434455);
  background-color: #ffffff;
}
/* ШАПКА САЙТУ */
ul, li {
  list-style-type: none;
}
a.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.header__logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.nav-studio {
  color: var(--NAVY-BLUE, #2e2f42);
}
.nav__link {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5 ; /* 150% */
  letter-spacing: 0.02em;
}

.header-mail,
.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

/* ПІДВАЛ САЙТУ */
.page-footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
}
.firm-address {
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}
.map-link {
  color: #ffffff;
}
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

/* BODY OF INDEX.HTML */

/* BANNER SECTION */

.banner {
  background-color: #2f303a;
  text-align: center;
}
.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.banner-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}
.banner-button:hover,
.banner-button:focus {
  background-color: #f7941e;
}

/* KEY-FEATURES SECTION */

.key-features-titles {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.key-features-text {
  font-weight: 400;
  line-height: 1.71;
}

/* WE-DO SECTION */

.we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

/* OUR TEAM */

.our-team {
  background: #f5f4fa;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}
.our-team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}
.our-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* PORTFOLIO-PAGE */

/* BUTTONS */

.portfolio-filter-list [type='button'] {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--secondary-color);
}
.portfolio-filter-list [type='button']:hover,
.portfolio-filter-list [type='button']:focus {
  color: #ffffff;
  background: var(--accent-color);
}

/* WORK DESCRIPTION */

.work-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
a.link .work-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
}
