/* global variables */
:root {
  --primary-font-family: 'Roboto', sans-serif;
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
  --GREY: rgba(46, 47, 66, 0.7);
  --WHITE: #ffffff;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
}

/* BODY */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--SLATE, #434455);
  background-color: #ffffff;
}
/* ШАПКА САЙТУ */
ul,
li,
.list {
  list-style: none;
  list-style-type: none;
}
a.link {
  text-decoration: none;
  cursor: pointer;
}
.header__logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.nav-studio {
  color: var(--NAVY-BLUE, #2e2f42);
}
.nav__link .link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.nav__link .link:hover,
.nav__link .link:focus,
.header-connect .link:hover,
.header-connect .link:focus {
  color: var(--OCEAN, #404bbf);
}
.header-address {
  font-style: normal;
}
.header-connect .link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* ПІДВАЛ САЙТУ */
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer__logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway,  sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer__logo .nav-studio {
  color: var(--CLOUD, #f4f4fd);
}
.firm-address {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* BANNER SECTION */
.banner {
  background: var(--NAVY-BLUE, #2e2f42);
}
.banner-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
.banner-button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background: var(--IRIS, #4d5ae5);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.banner-button:hover,
.banner-button:focus {
  background-color: var(--OCEAN, #404bbf);
}

/* KEY-FEATURES SECTION */

.key-features__titles {
  /* Header 3 */
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.key-features__text {
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* WE-DO SECTION */

.we-do__title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* OUR TEAM */

.our-team {
  background: var(--CLOUD, #f4f4fd);
}
.our-team__title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.our-team__item {
  background: var(--WHITE, #fff);

}

/* PORTFOLIO-PAGE */

/* BUTTONS */

.portfolio-filter-list [type='button'] {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--secondary-color);
}
.portfolio-filter-list [type='button']:hover,
.portfolio-filter-list [type='button']:focus {
  color: #ffffff;
  background: var(--accent-color);
}

/* WORK DESCRIPTION */

.work-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
a.link .work-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
}
/* ============================

*/
/* PORTFOLIO */

.portfolio__filter--item {
  background: var(--CLOUD, #f4f4fd);
}
.portfolio__filter--button {
  color: var(--IRIS, #4d5ae5);
  text-align: center;
  background-color: var(--CLOUD);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}
.portfolio__filter--button:hover,
.portfolio__filter--button:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN, #404bbf);
}
.work-examples__item {
  background: var(--WHITE, #fff);
}
.work-examples__title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.work-examples__description {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
