/* global variables */
:root {
  --primary-font-family: 'Roboto', sans-serif;
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
  --GREY: rgba(46, 47, 66, 0.7);
  --WHITE: #ffffff;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
}

/* BODY */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--SLATE, #434455);
  background-color: #ffffff;
}
/* ШАПКА САЙТУ */
ul,
li,
.list {
  list-style: none;
  list-style-type: none;
}
a.link {
  text-decoration: none;
  cursor: pointer;
}
.header__logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.nav-studio {
  color: var(--NAVY-BLUE, #2e2f42);
}
.nav__link .link {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.nav__link .link:hover,
.nav__link .link:focus,
.header-connect .link:hover,
.header-connect .link:focus {
  color: var(--OCEAN, #404bbf);
}
.header-address {
  font-style: normal;
}
.header-connect .link {
  color: var(--SLATE, #434455);
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* ПІДВАЛ САЙТУ */
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer__logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer__logo .nav-studio {
  color: var(--CLOUD, #f4f4fd);
}
.firm-address {
  color: var(--CLOUD, #f4f4fd);

  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* BANNER SECTION */
.banner {
  /* flex-shrink: 0; */
  background: var(--NAVY-BLUE, #2e2f42);
}
.banner-title {
  color: var(--WHITE, #fff);
  /* text-align: center; */

  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
.banner-button {
  /* display: flex;
  padding: 16px 32px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  border-radius: 4px; */
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.banner-button:hover,
.banner-button:focus {
  background-color: var(--OCEAN, #404bbf);
}

/* KEY-FEATURES SECTION */

.key-features__titles {
  /* Header 3 */
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.key-features__text {
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* WE-DO SECTION */

.we-do__title {
  color: var(--NAVY-BLUE, #2e2f42);
  /* text-align: center; */

  /* Header 2 */
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* .we-do__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
} */
/* .we-do__item {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* OUR TEAM */

.our-team {
  background: var(--CLOUD, #f4f4fd);
}
.our-team__title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
/* .our-team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
} */
.our-team__item {
  /* display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px; */
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* PORTFOLIO-PAGE */

/* BUTTONS */

.portfolio-filter-list [type='button'] {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* text-align: center; */
  color: var(--secondary-color);
}
.portfolio-filter-list [type='button']:hover,
.portfolio-filter-list [type='button']:focus {
  color: #ffffff;
  background: var(--accent-color);
}

/* WORK DESCRIPTION */

.work-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
a.link .work-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
}
/* ============================

*/
/* PORTFOLIO */

.portfolio__filter--item {
  /* border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC); */
  background: var(--CLOUD, #f4f4fd);
}
.portfolio__filter--button {
  color: var(--IRIS, #4d5ae5);
  text-align: center;

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.portfolio__filter--button:hover,
.portfolio__filter--button:focus {
  /* border-radius: 4px; */
  color: var(--WHITE);
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.work-examples__item {
  /* border: 1px solid var(--CORNFLOWER, #E7E9FC); */
  background: var(--WHITE, #fff);
}
.work-examples__title {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.work-examples__description {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
